# Let's connect this Jupyter Notebook to a MySQL server.

In [14]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.27-1commercial-cp37-cp37m-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.0-cp37-cp37m-win_amd64.whl (896 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.27 protobuf-3.19.0

### Now that we successfully installed the mysql connector, we can connect to a server

In [17]:
import mysql.connector

In [414]:
#attempt to connect to server
try:
    cnx = mysql.connector.connect(user = user_name , password = password_,
                              host = host_name,
                              database = database_name)
    print('connected successfully')
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print('Incorrect Username or password')
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print('Database doesnt exist')
    else:
        print('error occured')

connected successfully

### If the connection was made, let's write a simple query of the 'Country' table from the 'world' database.

In [415]:
query = ('''SELECT Name AS Country, Population, GNP, GNP/Population * 100 AS GNP_pop_ratio
         FROM Country 
         WHERE Population > 100000000 
         ORDER BY GNP DESC''')

In [416]:
read_query = pd.read_sql_query(query, cnx) #we will use a pandas function to read the sql query

In [417]:
world_df = pd.DataFrame(read_query) #converting to a dataframe is very convenient!
world_df

              Country  Population        GNP  GNP_pop_ratio
0       United States   278357000  8510700.0       3.057477
1               Japan   126714000  3787042.0       2.988653
2               China  1277558000   982268.0       0.076886
3              Brazil   170115000   776739.0       0.456596
4               India  1013662000   447114.0       0.044109
5  Russian Federation   146934000   276608.0       0.188253
6           Indonesia   212107000    84982.0       0.040066
7             Nigeria   111506000    65707.0       0.058927
8            Pakistan   156483000    61289.0       0.039167
9          Bangladesh   129155000    32852.0       0.025436

### It's that simple!